DATABASE_URL=mysql+pymysql://QFFKPCASzb8DNuc.root:cZqcOFCdIuwbkf6C@gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/reachlo_db?ssl_verify_cert=false&ssl_verify_identity=false
JWT_SECRET=reachlo_secret_key_change_me_in_prod
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
# Google Maps Platform keys
GOOGLE_PLACES_API_KEY=AIzaSyBqi9sSzxZk_uOmzlwESS0HPX5gRz9vnxo
GOOGLE_MAPS_API_KEY=AIzaSyCTUhkulg26rjK-f6iXpTGLOPmNqyfl5r4
# AI Generation Keys
GEMINI_API_KEY=AQ.Ab8RN6LWlHcodTNOjH_l1jyGI_LewxnvEnkt_92sZ_Ue6YLJzw
HUGGINGFACE_API_KEY=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
IDEOGRAM_API_KEY=sQKdz5xcn604Ccll86VP2IN8-OnhNP-RA7IPWoHBxkSE0Hz5Y3SCVz9MyuoiRAs9298j2ERWtJE7vEPy7Hi7lQ